<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Product</title>
    <div th:insert="~{manager/fragments/head::head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">

    <div th:replace="~{manager/fragments/header::header}"></div>

    <div th:replace="~{manager/fragments/sidebar::sidebar}"></div>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product List</h4>
                    <h6>Manage your products</h6>
                </div>
                <div class="page-btn">
                    <a href="/manager/products/add/computer" class="btn btn-added">
                        <img th:src="@{/admin/assets/img/icons/plus.svg}" alt="img" class="me-1">Add Computer
                    </a>
                    <a href="/manager/products/add/phone" class="btn btn-added">
                        <img th:src="@{/admin/assets/img/icons/plus.svg}" alt="img" class="me-1">Add Phone
                    </a>
                    <a href="/manager/products/add/accessory" class="btn btn-added">
                        <img th:src="@{/admin/assets/img/icons/plus.svg}" alt="img" class="me-1">Add Accessory
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-input">
                                <a class="btn btn-searchset"><img th:src="@{/admin/assets/img/icons/search-white.svg}"
                                                                  alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            th:src="@{/admin/assets/img/icons/pdf.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            th:src="@{/admin/assets/img/icons/excel.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            th:src="@{/admin/assets/img/icons/printer.svg}" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-0" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row" th:each="product : ${products}">
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Choose Product Name</option>
                                                    <option th:text="${product.getName()}"
                                                            th:value="${product.getName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Choose Category</option>
                                                    <option th:text="${product.getCategory().getName()}"
                                                            th:value="${product.getCategory().getName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Choose Brand</option>
                                                    <option th:text="${product.getBrand().getName()}"
                                                            th:value="${product.getBrand().getName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Brand</option>
                                                    <option>N/D</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Price</option>
                                                    <option>150.00</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-6 col-12">
                                            <div class="form-group">
                                                <a class="btn btn-filters ms-auto"><img
                                                        th:src="@{/admin/assets/img/icons/search-whites.svg}" alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table  datanew">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <input type="hidden" class="product-id" th:value="${product.getId()}">
                                <td class="productimgname">
                                    <a th:href="@{/manager/products/edit(id=${product.getId()})}" class="product-img">
                                        <img th:if="${product.thumbnail.startsWith('https')}"
                                             th:src="${product.thumbnail}"
                                             class="product-image"
                                             alt="Ảnh sản phẩm mặc định" width="300px;">
                                        <img th:unless="${product.thumbnail.startsWith('https')}"
                                             th:src="@{'/uploads/' + ${product.thumbnail}}"
                                             class="product-image"
                                             alt="Ảnh sản phẩm" width="300px;">
                                    </a>
                                    <a th:href="@{/manager/products/edit(id=${product.getId()})}"
                                       th:text="${product.getName()}">
                                    </a>
                                </td>
                                <td th:text="${product.getCategory().getName()}"></td>
                                <td th:text="${product.getBrand().getName()}"></td>
                                <td th:text="${product.getPrice()}"></td>
                                <td th:text="${product.getStockQuantity()}"></td>
                                <td>
                                    <a class="me-3"
                                       th:href="@{/manager/products/productDetail(id=${product.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/eye.svg}" alt="img">
                                    </a>
                                    <a class="me-3" th:href="@{/manager/products/images(id=${product.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/upload.svg}" alt="img">
                                    </a>
                                    <a class="me-3" th:href="@{/manager/products/edit(id=${product.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/edit.svg}" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text-delete">
                                        <img th:src="@{/admin/assets/img/icons/delete.svg}" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:insert="~{admin/fragments/script::script}"></div>
<script>
    $(document).ready(function () {
        $(document).on("click", ".confirm-text-delete", function () {
            var productId = $(this).closest("tr").find(".product-id").val(); // Get product_id from the current row
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                confirmButtonClass: "btn btn-primary",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: false
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: `/manager/products/delete/${productId}`,
                        method: "GET",
                        success: function (response) {
                            if (response.status === "success") {
                                Swal.fire({
                                    icon: "success",
                                    title: "Deleted!",
                                    text: response.message,
                                    confirmButtonClass: "btn btn-success"
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "Error!",
                                    text: response.message,
                                    confirmButtonClass: "btn btn-danger"
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: `Failed to delete product.`,
                                confirmButtonClass: "btn btn-danger"
                            })
                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>