<div th:fragment="head">
    <meta charset="UTF-8">

    <link
            rel="stylesheet"
            th:href="@{/shipper/mymodel.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/shipper/main.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/shipper/products.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/shipper/styles.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/shipper/util.css}"
    />

</div>