<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Dashboard || Add Product</title>
    <div th:insert="~{/manager/fragments/head::head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">

    <div th:replace="~{manager/fragments/header::header}"></div>

    <div th:replace="~{manager/fragments/sidebar::sidebar}"></div>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product Add</h4>
                    <h6>Create new product</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="tabs-set">
                        <form th:action="@{/manager/products/create}" th:method="post" enctype="multipart/form-data"
                              th:object="${product}">
                            <div class="form-row">
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label>Product Name</label>
                                    <input type="text" th:field="*{name}" placeholder="Enter product name" required>
                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                         style="color: red;"></div>
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <input name="categoryId" th:value="${categoryId}" hidden="hidden">
                                    <input name="categoryChoice" th:value="${categoryChoice}" hidden="hidden">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label>Brand</label>
                                    <select class="select" name="brandId">
                                        <option th:each="brand : ${brands}"
                                                th:value="${brand.getId()}"
                                                th:text="${brand.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label>Stock Quantity</label>
                                    <input type="text" th:field="*{stockQuantity}" required>
                                    <span th:if="${#fields.hasErrors('stockQuantity')}"
                                          th:errors="*{stockQuantity}"
                                          style="color: red;"></span>
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label>Price</label>
                                    <input type="text" th:field="*{price}" required>
                                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                          style="color: red;"></span>
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}">CPU</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}"
                                           type="text" th:field="*{cpu}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}">RAM</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}"
                                           type="text" th:field="*{ram}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}">OS</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}"
                                           type="text" th:field="*{os}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}">Monitor</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}"
                                           type="text" th:field="*{monitor}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}">
                                        Weight</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}"
                                           type="text" th:field="*{weight}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}">Battery</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' ? null : 'hidden'}"
                                           type="text" th:field="*{battery}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}">
                                        Graphic Card</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}"
                                           type="text" th:field="*{graphicCard}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}">
                                        Port</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'phone' ? null : 'hidden'}"
                                           type="text" th:field="*{port}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'computer' ? null : 'hidden'}">
                                        Rear Camera</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'computer' ? null : 'hidden'}"
                                           type="text" th:field="*{rearCamera}">
                                </div>
                                <div class="form-group col-lg-3 col-sm-6 col-12">
                                    <label th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'computer' ? null : 'hidden'}">
                                        Front Camera</label>
                                    <input th:attr="hidden=${categoryChoice != 'accessory' && categoryChoice != 'computer' ? null : 'hidden'}"
                                           type="text" th:field="*{frontCamera}">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Warranty</label>
                                    <textarea class="form-control" th:field="*{warranty}" required></textarea>
                                    <span th:if="${#fields.hasErrors('warranty')}" th:errors="*{warranty}"
                                          style="color: red;"></span>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Description</label>
                                    <textarea class="form-control" th:field="*{description}" required></textarea>
                                    <span th:if="${#fields.hasErrors('description')}"
                                          th:errors="*{description}"
                                          style="color: red;"></span>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label> Product Image</label>
                                    <div class="image-upload">
                                        <input type="file" name="files" accept="image/*" required>
                                        <div class="image-uploads">
                                            <img th:src="@{/admin/assets/img/icons/upload.svg}" alt="img">
                                            <h4>Drag and drop a file to upload</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <input class="btn btn-submit me-2" type="submit" th:value="Add">
                                    <a href="/manager/products" class="btn btn-cancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:insert="~{/manager/fragments/script::script}"></div>
</body>
</html>