<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Order</title>
    <div th:insert="~{manager/fragments/head::head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">

    <div th:replace="~{manager/fragments/header::header}"></div>

    <div th:replace="~{manager/fragments/sidebar::sidebar}"></div>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Order List</h4>
                    <h6>Manage your orders</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img th:src="@{/admin/assets/img/icons/filter.svg}" alt="img">
                                    <span><img th:src="@{/admin/assets/img/icons/closes.svg}" alt="img"></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"><img th:src="@{/admin/assets/img/icons/search-white.svg}"
                                                                  alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            th:src="@{/admin/assets/img/icons/pdf.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            th:src="@{/admin/assets/img/icons/excel.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            th:src="@{/admin/assets/img/icons/printer.svg}" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-0" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="order : ${orders}">
                                                    <option>Choose ID</option>
                                                    <option th:text="${order.getId()}"
                                                            th:value="${order.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="payment : ${payments}">
                                                    <option>Choose Payment</option>
                                                    <option th:text="${payment.getName()}"
                                                            th:value="${payment.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Choose Status</option>
                                                    <option>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="voucher : ${vouchers}">
                                                    <option>Choose Voucher</option>
                                                    <option th:text="${voucher.getName()}"
                                                    th:value="${voucher.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-6 col-12">
                                            <div class="form-group">
                                                <a class="btn btn-filters ms-auto"><img
                                                        th:src="@{/admin/assets/img/icons/search-whites.svg}" alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table  datanew">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Voucher</th>
                                <th>Payment</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">
                                    <a th:href="@{/manager/products/edit(id=${order.getId()})}"
                                       th:text="${order.getId()}">
                                    </a>
                                </td>
                                <td th:text="${order.getTotalPrice()}">
                                </td>
                                <td>
                                    <span class="badges bg-lightgreen"
                                          th:if="${order.isActive()}">Active
                                    </span>
                                    <span class="badges bg-lightred"
                                          th:if="${!order.isActive()}">Inactive
                                    </span>
                                </td>
                                <td th:text="${order.getVoucher().getName()}"></td>
                                <td th:text="${order.getPayment().getName()}"></td>
                                <td>
                                    <a class="me-3"
                                       th:href="@{/manager/orders/detail(id=${order.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/eye.svg}" alt="img">
                                    </a>
                                    <a class="me-3" th:href="@{/manager/orders/edit(id=${order.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/edit.svg}" alt="img">
                                    </a>
                                    <a class="confirm-text"
                                       th:href="@{/manager/orders/delete(id=${order.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/delete.svg}" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{admin/fragments/script::script}"></div>
</body>
</html>