<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Order</title>
    <div th:insert="~{manager/fragments/head::head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">

    <div th:replace="~{manager/fragments/header::header}"></div>

    <div th:replace="~{manager/fragments/sidebar::sidebar}"></div>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Order List</h4>
                    <h6>Manage your orders</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-input">
                                <a class="btn btn-searchset"><img th:src="@{/admin/assets/img/icons/search-white.svg}"
                                                                  alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            th:src="@{/admin/assets/img/icons/pdf.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            th:src="@{/admin/assets/img/icons/excel.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            th:src="@{/admin/assets/img/icons/printer.svg}" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-0" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="order : ${orders}">
                                                    <option>Choose ID</option>
                                                    <option th:text="${order.getId()}"
                                                            th:value="${order.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="payment : ${payments}">
                                                    <option>Choose Payment</option>
                                                    <option th:text="${payment.getName()}"
                                                            th:value="${payment.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select">
                                                    <option>Choose Status</option>
                                                    <option>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="select" th:each="voucher : ${vouchers}">
                                                    <option>Choose Voucher</option>
                                                    <option th:text="${voucher.getName()}"
                                                    th:value="${voucher.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-6 col-12">
                                            <div class="form-group">
                                                <a class="btn btn-filters ms-auto"><img
                                                        th:src="@{/admin/assets/img/icons/search-whites.svg}" alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table  datanew">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Customer</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Payment</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>
                                    <a th:href="@{/manager/orders/detail(id=${order.getId()})}"
                                       th:text="${order.getUser().getFirstName()}">
                                    </a>
                                </td>
                                <td th:text="${order.getTotalPrice()}">
                                </td>
                                <td>
                                    <span class="badges bg-lightyellow"
                                          th:if="${order.getStatus().equals(orderStatus[0])}">Pending
                                    </span>
                                    <span class="badges bg-lightpurple"
                                          th:if="${order.getStatus().equals(orderStatus[1])}">Shipping
                                    </span>
                                    <span class="badges bg-lightgreen"
                                          th:if="${order.getStatus().equals(orderStatus[2])}">Delivered
                                    </span>
                                    <span class="badges bg-lightred"
                                          th:if="${order.getStatus().equals(orderStatus[3])}">Cancelled
                                    </span>
                                </td>
                                <td th:text="${order.getCreatedAt()}"></td>
                                <td th:text="${order.getPayment().getName()}"></td>
                                <input type="hidden" class="order-id" th:value="${order.getId()}">
                                <td>
                                    <a class="me-3"
                                       th:href="@{/manager/orders/detail(id=${order.getId()})}">
                                        <img th:src="@{/admin/assets/img/icons/eye.svg}" alt="img">
                                    </a>
<!--                                    <a class="me-3" th:href="@{/manager/orders/edit(id=${order.getId()})}">-->
<!--                                        <img th:src="@{/admin/assets/img/icons/edit.svg}" alt="img">-->
<!--                                    </a>-->
                                    <a class="confirm-text-delete">
                                        <img th:src="@{/admin/assets/img/icons/delete.svg}" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{admin/fragments/script::script}"></div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(document).on("click", ".confirm-text-delete", function () {
            var orderId = $(this).closest("tr").find(".order-id").val(); // Get order_id from the current row
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                confirmButtonClass: "btn btn-primary",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: false
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: `/manager/orders/delete/${orderId}`,
                        method: "GET",
                        success: function (response) {
                            if (response.status === "success") {
                                Swal.fire({
                                    icon: "success",
                                    title: "Deleted!",
                                    text: response.message,
                                    confirmButtonClass: "btn btn-success"
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "Error!",
                                    text: response.message,
                                    confirmButtonClass: "btn btn-danger"
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: `Failed to delete order.`,
                                confirmButtonClass: "btn btn-danger"
                            })
                        }
                    });
                }
            });
        });
    });
</script>