<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Tech Shop || Forgot password</title>
    <div th:insert="~{user/fragments/head::head}"></div>
</head>
<body>
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-xl-4 col-sm-6">
                    <a th:href="@{/login}" class="site-logo"><img th:src="@{/user/assets/images/logo/logo.png}" alt="logo"></a>
                </div>
                <div class="col-md-2 d-lg-block d-none">
                    <a th:href="@{/login}" class="back-btn"><i class="far fa-angle-left"></i></a>
                </div>
                <div class="col-xl-6 col-lg-4 col-sm-6">
                    <div class="singin-header-btn">
                        <p>Already a member?</p>
                        <a th:href="@{/login}" class="sign-up-btn axil-btn btn-bg-secondary">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Forgot Password?</h3>
                        <p class="b2 mb--55">Enter the email address you used when you joined. Then go to your email to get new password.</p>
                        <form id="forgotForm" class="singin-form">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter email to get new password"
                                >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Send Reset Instructions</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS
============================================ -->
    <div th:insert="~{/user/fragments/script::script}"></div>
<script>
    document.getElementById('forgotForm').addEventListener('submit', function (event){
        event.preventDefault()
        const email = document.getElementById('email').value;

        fetch("/api/")
    })
</script>
</body>
</html>