<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Tech Shop || Home</title>
  <div th:insert="~{user/fragments/head::head}"></div>
</head>
<body>
<header class="header axil-header header-style-2">
  <div class="header-top-campaign">
    <div class="container position-relative">
      <div class="campaign-content">
        <div class="campaign-countdown"></div>
        <p>
          Open Doors To A World Of Fashion Get
          <a href="#">Get Your Offer</a>
        </p>
      </div>
    </div>
    <button class="remove-campaign"><i class="fal fa-times"></i></button>
  </div>
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-sm-3 col-5">
          <div class="header-brand">
            <a th:href="@{/user/home}" class="logo logo-dark">
              <img th:src="@{/user/assets/images/logo/logo.png}" alt="Site Logo" />
            </a>
            <a th:href="@{/user/home}" class="logo logo-light">
              <img
                      th:src="@{/user/assets/images/logo/logo-light.png}"
                      alt="Site Logo"
              />
            </a>
          </div>
        </div>
        <div class="col-lg-10 col-sm-9 col-7">
          <div class="header-top-dropdown dropdown-box-style">
            <div class="axil-search">
              <button type="submit" class="icon wooc-btn-search">
                <i class="far fa-search"></i>
              </button>
              <input
                      type="search"
                      class="placeholder product-search-input"
                      name="search2"
                      id="search2"
                      value=""
                      maxlength="128"
                      placeholder="What are you looking for...."
                      autocomplete="off"
              />
            </div>
            <div class="dropdown">
              <button
                      class="dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                USD
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">USD</a></li>
                <li><a class="dropdown-item" href="#">AUD</a></li>
                <li><a class="dropdown-item" href="#">EUR</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button
                      class="dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                EN
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">EN</a></li>
                <li><a class="dropdown-item" href="#">ARB</a></li>
                <li><a class="dropdown-item" href="#">SPN</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Top Area  -->

  <!-- Start Mainmenu Area  -->
  <div class="axil-mainmenu aside-category-menu">
    <div class="container">
      <div class="header-navbar">
        <div class="header-nav-department">
          <aside class="header-department">
            <button class="header-department-text department-title">
              <span class="icon"><i class="fal fa-bars"></i></span>
              <span class="text">Categories</span>
            </button>
            <nav class="department-nav-menu">
              <button class="sidebar-close">
                <i class="fas fa-times"></i>
              </button>
              <ul class="nav-menu-list" th:each="category : ${categories}">
                <li>
                  <a class="nav-link has-megamenu me-3" th:href="@{/user/products/{name}(name=${category.name})}">
                    <span class="menu-text" th:text="${category.name}"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="header-main-nav">
          <!-- Start Mainmanu Nav -->
          <nav class="mainmenu-nav">
            <ul class="mainmenu">
              <!--              Start home-->
              <li>
                <a th:href="@{/user/dashboard}">Home</a>
              </li>
              <!--              End home-->

              <!--              Start shop-->
              <li class="menu-item-has-children">
                <a href="#">Shop</a>
                <ul class="axil-submenu">
                  <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                  <li><a href="shop.html">Shop no Sidebar</a></li>
                </ul>
              </li>
              <!--              End home-->

              <!--              Start page-->
              <li class="menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="axil-submenu">
                  <li><a href="wishlist.html">Wishlist</a></li>
                  <li><a href="cart.html">Cart</a></li>
                </ul>
              </li>
              <!--              Start page-->

              <!--              Start about-->
              <li><a href="about-us.html">About</a></li>
              <!--              Start home-->

              <!--              Start blog-->
              <li class="menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="axil-submenu">
                  <li><a href="blog.html">Blog List</a></li>
                  <li><a href="blog-grid.html">Blog Grid</a></li>
                  <li><a href="blog-details.html">Standard Post</a></li>
                  <li><a href="blog-gallery.html">Gallery Post</a></li>
                  <li><a href="blog-video.html">Video Post</a></li>
                  <li><a href="blog-audio.html">Audio Post</a></li>
                  <li><a href="blog-quote.html">Quote Post</a></li>
                </ul>
              </li>
              <!--              Start blog-->

              <!--              Start contact-->
              <li><a href="contact.html">Contact</a></li>
              <!--              Start contact-->

            </ul>
          </nav>
          <!-- End Mainmanu Nav -->
        </div>
        <div class="header-action">
          <ul class="action-list">
            <li class="axil-search d-sm-none d-block">
              <a
                      href="javascript:void(0)"
                      class="header-search-icon"
                      title="Search"
              >
                <i class="flaticon-magnifying-glass"></i>
              </a>
            </li>
            <li class="wishlist">
              <a href="wishlist.html">
                <i class="flaticon-heart"></i>
              </a>
            </li>
            <li class="shopping-cart">
              <a href="#" class="cart-dropdown-btn">
                <span class="cart-count">3</span>
                <i class="flaticon-shopping-cart"></i>
              </a>
            </li>
            <li class="my-account">
              <a href="javascript:void(0)">
                <i class="flaticon-person"></i>
              </a>
              <div class="my-account-dropdown">
                <span class="title">QUICKLINKS</span>
                <ul>
                  <li>
                    <a href="my-account.html">My Account</a>
                  </li>
                  <li>
                    <a href="#">Initiate return</a>
                  </li>
                  <li>
                    <a href="#">Support</a>
                  </li>
                  <li>
                    <a href="#">Language</a>
                  </li>
                </ul>
                <div class="login-btn">
                  <a id="auth-btn" class="axil-btn btn-bg-primary">Login</a>
                </div>
                <div class="reg-footer text-center">
                  No account yet?
                  <a href="sign-up.html" class="btn-link">REGISTER HERE.</a>
                </div>
              </div>
            </li>
            <li class="axil-mobile-toggle">
              <button class="menu-btn mobile-nav-toggler">
                <i class="flaticon-menu-2"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Mainmenu Area  -->
</header>
<main class="main-wrapper">
      <!-- Start Slider Area -->
      <div th:replace="~{user/fragments/slidebar::slidebar}"></div>
      <!-- End Slider Area -->
<!--Start service area-->
      <div th:replace="~{user/fragments/service-area::service-area}"></div>
<!--      End service area-->

      <!-- Start New Arrivals Product Area  -->
      <div class="axil-new-arrivals-product-area fullwidth-container bg-color-white axil-section-gap pb--0" >
        <div class="container ml--xxl-0">
          <div class="product-area pb--50">
            <div class="section-title-wrapper">
              <span class="title-highlighter highlighter-primary"
              ><i class="far fa-shopping-basket"></i> This Week’s</span
              >
              <h2 class="title">New Arrivals</h2>
            </div>
            <div
                    class="new-arrivals-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
            >
              <!--               Start .slick-single-layout -->
              <div class="slick-single-layout">
                <div class="axil-product product-style-four">
                  <div class="thumbnail">
                    <a th:href="@{/detail-product}">
                      <img
                              data-sal="fade"
                              data-sal-delay="100"
                              data-sal-duration="1500"
                              th:src="@{/user/assets/images/product/fashion/product-1.png}"
                              alt="Product Images"
                      />
                      <img
                              class="hover-img"
                              th:src="@{/user/assets/images/product/fashion/product-4.png}"
                              alt="Product Images"
                      />
                    </a>
                    <div class="label-block label-right">
                      <div class="product-badget">20% OFF</div>
                    </div>
                    <div class="product-hover-action">
                      <ul class="cart-action">
                        <li class="wishlist">
                          <a href="wishlist.html"
                          ><i class="far fa-heart"></i
                          ></a>
                        </li>
                        <li class="select-option">
                          <a th:href="@{/add-to-card}">Add to Cart</a>
                        </li>
                        <li class="quickview">
                          <a
                                  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="inner">
                      <h5 class="title">
                        <a th:href="@{/detail-product}">Top Handle Handbag</a>
                      </h5>
                      <div class="product-price-variant">
                        <span class="price old-price">$80</span>
                        <span class="price current-price">$60</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .slick-single-layout -->
              <!--               Start .slick-single-layout -->
              <div class="slick-single-layout">
                <div class="axil-product product-style-four">
                  <div class="thumbnail">
                    <a th:href="@{/detail-product}">
                      <img
                              data-sal="fade"
                              data-sal-delay="100"
                              data-sal-duration="1500"
                              th:src="@{/user/assets/images/product/fashion/product-1.png}"
                              alt="Product Images"
                      />
                      <img
                              class="hover-img"
                              th:src="@{/user/assets/images/product/fashion/product-4.png}"
                              alt="Product Images"
                      />
                    </a>
                    <div class="label-block label-right">
                      <div class="product-badget">20% OFF</div>
                    </div>
                    <div class="product-hover-action">
                      <ul class="cart-action">
                        <li class="wishlist">
                          <a href="wishlist.html"
                          ><i class="far fa-heart"></i
                          ></a>
                        </li>
                        <li class="select-option">
                          <a href="cart.html">Add to Cart</a>
                        </li>
                        <li class="quickview">
                          <a
                                  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="inner">
                      <h5 class="title">
                        <a href="single-product.html">Top Handle Handbag</a>
                      </h5>
                      <div class="product-price-variant">
                        <span class="price old-price">$80</span>
                        <span class="price current-price">$60</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .slick-single-layout -->
              <!--               Start .slick-single-layout -->
              <div class="slick-single-layout">
                <div class="axil-product product-style-four">
                  <div class="thumbnail">
                    <a href="single-product.html">
                      <img
                              data-sal="fade"
                              data-sal-delay="100"
                              data-sal-duration="1500"
                              th:src="@{/user/assets/images/product/fashion/product-1.png}"
                              alt="Product Images"
                      />
                      <img
                              class="hover-img"
                              th:src="@{/user/assets/images/product/fashion/product-4.png}"
                              alt="Product Images"
                      />
                    </a>
                    <div class="label-block label-right">
                      <div class="product-badget">20% OFF</div>
                    </div>
                    <div class="product-hover-action">
                      <ul class="cart-action">
                        <li class="wishlist">
                          <a href="wishlist.html"
                          ><i class="far fa-heart"></i
                          ></a>
                        </li>
                        <li class="select-option">
                          <a href="cart.html">Add to Cart</a>
                        </li>
                        <li class="quickview">
                          <a
                                  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="inner">
                      <h5 class="title">
                        <a href="single-product.html">Top Handle Handbag</a>
                      </h5>
                      <div class="product-price-variant">
                        <span class="price old-price">$80</span>
                        <span class="price current-price">$60</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .slick-single-layout -->
            </div>
          </div>
        </div>
      </div>
      <!-- End New Arrivals Product Area  -->

      <!-- Start Best Sellers Product Area  -->
      <div
              class="axil-best-seller-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
        <div class="container">
          <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-secondary"
            ><i class="far fa-shopping-basket"></i>This Month</span
            >
            <h2 class="title">Best Sellers</h2>
          </div>
          <div
                  class="new-arrivals-product-activation-2 product-transparent-layout slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide product-slide-mobile"
          >
            <div class="slick-single-layout">
              <div class="axil-product product-style-seven">
                <div class="product-content">
                  <div class="cart-btn">
                    <a href="cart.html">
                      <i class="flaticon-shopping-cart"></i>
                    </a>
                  </div>
                  <div class="inner">
                    <h5 class="title">
                      <a href="single-product.html">Full Sleev Tshirt</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price current-price">$29.99</span>
                      <span class="price old-price">$49.99</span>
                    </div>
                    <div class="product-rating">
                      <span class="icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating-number">(64)</span>
                    </div>
                  </div>
                </div>
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                            data-sal="zoom-out"
                            data-sal-delay="100"
                            data-sal-duration="800"
                            loading="lazy"
                            th:src="@{/user/assets/images/product/fashion/product-16.png}"
                            alt="Product Images"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="slick-single-layout">
              <div class="axil-product product-style-seven">
                <div class="product-content">
                  <div class="cart-btn">
                    <a href="cart.html">
                      <i class="flaticon-shopping-cart"></i>
                    </a>
                  </div>
                  <div class="inner">
                    <h5 class="title">
                      <a href="single-product.html">Full Sleev Tshirt</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price current-price">$29.99</span>
                      <span class="price old-price">$49.99</span>
                    </div>
                    <div class="product-rating">
                      <span class="icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating-number">(64)</span>
                    </div>
                  </div>
                </div>
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                            data-sal="zoom-out"
                            data-sal-delay="100"
                            data-sal-duration="800"
                            loading="lazy"
                            th:src="@{/user/assets/images/product/fashion/product-16.png}"
                            alt="Product Images"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="slick-single-layout">
              <div class="axil-product product-style-seven">
                <div class="product-content">
                  <div class="cart-btn">
                    <a href="cart.html">
                      <i class="flaticon-shopping-cart"></i>
                    </a>
                  </div>
                  <div class="inner">
                    <h5 class="title">
                      <a href="single-product.html">Full Sleev Tshirt</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price current-price">$29.99</span>
                      <span class="price old-price">$49.99</span>
                    </div>
                    <div class="product-rating">
                      <span class="icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating-number">(64)</span>
                    </div>
                  </div>
                </div>
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                            data-sal="zoom-out"
                            data-sal-delay="100"
                            data-sal-duration="800"
                            loading="lazy"
                            th:src="@{/user/assets/images/product/fashion/product-16.png}"
                            alt="Product Images"
                    />
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End  Best Sellers Product Area  -->

      <!-- Poster Countdown Area  -->
      <div th:replace="~{user/fragments/poster::poster}"></div>
      <!-- End Poster Countdown Area  -->

      <!-- Start Expolre Product Area  -->
      <div class="axil-product-area bg-color-white axil-section-gap">
        <div class="container">
          <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary">
              <i class="far fa-shopping-basket"></i> Our Products</span
            >
            <h2 class="title">Explore our Products</h2>
          </div>
          <div
                  class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
          >
            <!-- Start .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="row row--15">
                <!-- Start Single Product  -->
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                  <div class="axil-product product-style-one">
                    <div class="thumbnail">
                      <a href="single-product.html">
                        <img
                                data-sal="fade"
                                data-sal-delay="100"
                                data-sal-duration="1500"
                                th:src="@{/user/assets/images/product/fashion/product-8.png}"
                                alt="Product Images"
                        />
                      </a>
                      <div class="label-block label-right">
                        <div class="product-badget">20% Off</div>
                      </div>
                      <div class="product-hover-action">
                        <ul class="cart-action">
                          <li class="quickview">
                            <a
                                    href="#"
                                    data-bs-toggle="modal"
                                    data-bs-target="#quick-view-modal"
                            ><i class="far fa-eye"></i
                            ></a>
                          </li>
                          <li class="select-option">
                            <a href="cart.html">Add to Cart</a>
                          </li>
                          <li class="wishlist">
                            <a href="wishlist.html"
                            ><i class="far fa-heart"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-content">
                      <div class="inner">
                        <h5 class="title">
                          <a href="single-product.html">Leather Jacket</a>
                        </h5>
                        <div class="product-price-variant">
                          <span class="price current-price">$29.99</span>
                          <span class="price old-price">$49.99</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Single Product  -->
                <!-- Start Single Product  -->
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                  <div class="axil-product product-style-one">
                    <div class="thumbnail">
                      <a href="single-product.html">
                        <img
                                data-sal="fade"
                                data-sal-delay="100"
                                data-sal-duration="1500"
                                th:src="@{/user/assets/images/product/fashion/product-8.png}"
                                alt="Product Images"
                        />
                      </a>
                      <div class="label-block label-right">
                        <div class="product-badget">20% Off</div>
                      </div>
                      <div class="product-hover-action">
                        <ul class="cart-action">
                          <li class="quickview">
                            <a
                                    href="#"
                                    data-bs-toggle="modal"
                                    data-bs-target="#quick-view-modal"
                            ><i class="far fa-eye"></i
                            ></a>
                          </li>
                          <li class="select-option">
                            <a href="cart.html">Add to Cart</a>
                          </li>
                          <li class="wishlist">
                            <a href="wishlist.html"
                            ><i class="far fa-heart"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-content">
                      <div class="inner">
                        <h5 class="title">
                          <a href="single-product.html">Leather Jacket</a>
                        </h5>
                        <div class="product-price-variant">
                          <span class="price current-price">$29.99</span>
                          <span class="price old-price">$49.99</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Single Product  -->
                <!-- Start Single Product  -->
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                  <div class="axil-product product-style-one">
                    <div class="thumbnail">
                      <a href="single-product.html">
                        <img
                                data-sal="fade"
                                data-sal-delay="100"
                                data-sal-duration="1500"
                                th:src="@{/user/assets/images/product/fashion/product-8.png}"
                                alt="Product Images"
                        />
                      </a>
                      <div class="label-block label-right">
                        <div class="product-badget">20% Off</div>
                      </div>
                      <div class="product-hover-action">
                        <ul class="cart-action">
                          <li class="quickview">
                            <a
                                    href="#"
                                    data-bs-toggle="modal"
                                    data-bs-target="#quick-view-modal"
                            ><i class="far fa-eye"></i
                            ></a>
                          </li>
                          <li class="select-option">
                            <a href="cart.html">Add to Cart</a>
                          </li>
                          <li class="wishlist">
                            <a href="wishlist.html"
                            ><i class="far fa-heart"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-content">
                      <div class="inner">
                        <h5 class="title">
                          <a href="single-product.html">Leather Jacket</a>
                        </h5>
                        <div class="product-price-variant">
                          <span class="price current-price">$29.99</span>
                          <span class="price old-price">$49.99</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Single Product  -->
              </div>
            </div>
            <!-- End .slick-single-layout -->
          </div>
          <div class="row">
            <div class="col-lg-12 text-center mt--20 mt_sm--0">
              <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more"
              >View All Products</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- End Explore Product Area  -->

      <!-- Start Testimonila Area  -->
      <div th:insert="~{user/customer/user-feedback::feedback}"></div>
      <!-- End Testimonila Area  -->

      <!-- Start New Arrivals Product Area  -->
      <div
        class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--50"
      >
        <div class="container">
          <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary"
              ><i class="far fa-shopping-basket"></i> This Week’s</span
            >
            <h2 class="title">New Arrivals</h2>
          </div>
          <div
            class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow arrow-top-slide"
          >
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="100"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-14.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">50% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Full A-Line Dress</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$50</span>
                      <span class="price current-price">$25</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="200"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-15.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">15% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Leather Hand Bag</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$60</span>
                      <span class="price current-price">$45</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="300"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-4.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">30% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Guys Bomber Jacket</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$30</span>
                      <span class="price current-price">$20</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="400"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-5.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">50% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Full A-Line Dress</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$50</span>
                      <span class="price current-price">$25</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="100"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-10.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">10% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Men's Tshirt</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$40</span>
                      <span class="price current-price">$30</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
              <div class="axil-product product-style-two has-color-pick">
                <div class="thumbnail">
                  <a href="single-product.html">
                    <img
                      data-sal="fade"
                      data-sal-delay="400"
                      data-sal-duration="1500"
                      th:src="@{/user/assets/images/product/fashion/product-13.png}"
                      alt="Product Images"
                    />
                  </a>
                  <div class="label-block label-right">
                    <div class="product-badget">30% OFF</div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <div class="color-variant-wrapper">
                      <ul class="color-variant">
                        <li class="color-extra-01 active">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-02">
                          <span><span class="color"></span></span>
                        </li>
                        <li class="color-extra-03">
                          <span><span class="color"></span></span>
                        </li>
                      </ul>
                    </div>
                    <h5 class="title">
                      <a href="single-product.html">Guys Bomber Jacket</a>
                    </h5>
                    <div class="product-price-variant">
                      <span class="price old-price">$30</span>
                      <span class="price current-price">$20</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action justify-content-center">
                      <li class="wishlist">
                        <a href="wishlist.html"><i class="far fa-heart"></i></a>
                      </li>
                      <li class="select-option">
                        <a href="cart.html">Add to Cart</a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#quick-view-modal"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .slick-single-layout -->
          </div>
        </div>
      </div>
      <!-- End New Arrivals Product Area  -->

      <!-- Start Axil Newsletter Area  -->
      <div th:insert="~{user/fragments/newsletter::newsletter}"></div>
      <!-- End Axil Newsletter Area  -->
    </main>

    <div th:insert="~{user/fragments/service-area-footer::service-area-footer}"></div>
    <!-- Start Footer Area  -->
    <div th:insert="~{user/fragments/footer::footer}"></div>
    <!-- End Footer Area  -->

    <!-- Product Quick View Modal Start -->
    <div th:insert="~{user/fragments/quickview::quick-view}"></div>
    <!-- Product Quick View Modal End -->

    <!-- Header Search Modal Start -->
    <div th:insert="~{user/fragments/header-search::header-search}"></div>
    <!-- Header Search Modal End -->

    <!-- Cart dropdown Start -->
    <div class="cart-dropdown" id="cart-dropdown">
      <div class="cart-content-wrap">
        <div class="cart-header">
          <h2 class="header-title">Cart review</h2>
          <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
          <ul class="cart-item-list" th:each="product : ${session.cart}">
            <li class="cart-item">
              <!-- Start Single product cua Tuan-->
              <div class="item-img">
                <a href="single-product.html">
                  <img src="assets/images/product/electric/product-01.png" alt="Commodo Blown Lamp"></a>
                <button class="close-btn"><i class="fas fa-times"></i></button>
              </div>
              <!-- End Single product cua Tuan-->
              <div class="item-content">
                <div class="product-rating">
                                    <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                  <span class="rating-number">(64)</span>
                </div>
                <h3 class="item-title"><a href="single-product-3.html" th:text="@{product.name}"></a></h3>
                <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                <div class="pro-qty item-quantity">
                  <input type="number" class="quantity-input" value="15">
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="cart-footer">
          <h3 class="cart-subtotal">
            <span class="subtotal-title">Subtotal:</span>
            <span class="subtotal-amount">$610.00</span>
          </h3>
          <div class="group-btn">
            <a th:href="@{/user/cart}" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
            <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart dropdown End -->


    <!-- JS
============================================ -->
    <div th:insert="~{user/fragments/script::script}"></div>

  </body>

</html>
