.cate-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cate-grid {
	width: 70%;
	margin-top: 20px;
}

.category-image-size,
.category-image-size img {
	width: 180px;
	height: 180px;
}

.product-image-size img {
	height: 300px;
}