<div th:fragment="script">
  <script th:src="@{/admin/assets/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/admin/assets/js/feather.min.js}"></script>
  <script th:src="@{/admin/assets/js/jquery.slimscroll.min.js}"></script>
  <script th:src="@{/admin/assets/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/admin/assets/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/admin/assets/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/assets/plugins/owlcarousel/owl.carousel.min.js}"></script>
  <script th:src="@{/admin/assets/plugins/select2/js/select2.min.js}"></script>
  <script th:src="@{/admin/assets/plugins/fileupload/fileupload.min.js}"></script>
  <script th:src="@{/admin/assets/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/assets/plugins/sweetalert/sweetalert2.all.min.js}"></script>
  <script th:src="@{/admin/assets/plugins/sweetalert/sweetalerts.min.js}"></script>
  <script th:src="@{/admin/assets/js/script.js}"></script>
</div>