<div class="cart-dropdown" id="cart-dropdown" th:fragment="cart-dropdown">
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">Cart review</h2>
            <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ul class="cart-item-list" th:each="cartDetail : ${cartDetailList}">
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product.html">
                            <img th:src="@{|/${cartDetail.product.monitor}|}" alt="Product Image"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <!-- End Single product cua Tuan-->
                    <div class="item-content">
                        <!--              <div class="product-rating">-->
                        <!--                <span class="icon">-->
                        <!--                  <i class="fas fa-star"></i>-->
                        <!--                  <i class="fas fa-star"></i>-->
                        <!--                  <i class="fas fa-star"></i>-->
                        <!--                  <i class="fas fa-star"></i>-->
                        <!--                  <i class="fas fa-star"></i>-->
                        <!--                </span>-->
                        <!--                <span class="rating-number">(64)</span>-->
                        <!--              </div>-->
                        <h3 class="item-title"><a href="single-product-3.html" th:text="${cartDetail.product.name}"></a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span><span th:text="${cartDetail.product.price}"></span></div>
                        <div class="pro-qty item-quantity">
                            <input type="number" class="quantity-input" th:value="${cartDetail.quantity}">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart-footer">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">Subtotal:</span>
                <span class="subtotal-amount" th:if="${cart != null}"
                      th:text="${cart.totalPrice}"></span>
            </h3>
            <div class="group-btn">
                <a th:href="@{/user/cart}" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
                <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
            </div>
        </div>
    </div></div>
