<!-- Start Categorie Area  -->
<div th:fragment="category-area" class="axil-categorie-area bg-color-white axil-section-gapcommon">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Categories</span>
            <h2 class="title">Browse by Category</h2>
        </div>
        <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                    <a th:href="@{/user/products/phones}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-4.png}"
                             alt="product categories">
                        <h6 class="cat-title">Phones</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="300" data-sal-duration="500">
                    <a href="@{/user/products/computers}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-5.png}"
                             alt="product categories">
                        <h6 class="cat-title">Computers</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="400" data-sal-duration="500">
                    <a href="@{/user/products/accessories}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-11.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Accessories</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="500" data-sal-duration="500">
                    <a href="@{/user/products/laptops}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-6.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Laptops</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="600" data-sal-duration="500">
                    <a href="@{/user/products/monitors}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-2.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Monitors</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="700" data-sal-duration="500">
                    <a href="@{/user/products/networking}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-7.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Networking</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="800" data-sal-duration="500">
                    <a href="@{/user/products/pc-gaming}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-8.png}"
                             alt="product categorie">
                        <h6 class="cat-title">PC Gaming</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product">
                    <a href="@{/user/products/smartwatches}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-1.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Smartwatches</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product">
                    <a href="@{/user/products/headphones}">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-9.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Headphones</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product">
                    <a href="#">
                        <img class="img-fluid" th:src="@{user/assets/images/product/categories/elec-10.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Camera & Photo</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="categrie-product">
                    <a href="#">
                        <img class="img-fluid" th:src="@{/user/assets/images/product/categories/elec-8.png}"
                             alt="product categorie">
                        <h6 class="cat-title">Video Games</h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
        </div>
    </div>
</div>
<!-- End Categorie Area  -->