<div th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
            rel="shortcut icon"
            type="image/x-icon"
            th:href="@{/user/assets/images/favicon.png}"
    />

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/bootstrap.min.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/font-awesome.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/flaticon/flaticon.css}"
    />
    <link rel="stylesheet" th:href="@{/user/assets/css/vendor/slick.css}" />
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/slick-theme.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/jquery-ui.min.css}"
    />
    <link rel="stylesheet" th:href="@{/user/assets/css/vendor/sal.css}" />
    <link
            rel="stylesheet"
            th:href="@{/user/assets/css/vendor/magnific-popup.css}"
    />
    <link rel="stylesheet" th:href="@{/user/assets/css/vendor/base.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/style.min.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/my-style.css}">
</div>