<header class="header axil-header header-style-5" th:fragment="header">
    <!-- Start Header Top Area  -->
    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-dropdown">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                                <li><a class="dropdown-item" href="#">Spanish</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">USD</a></li>
                                <li><a class="dropdown-item" href="#">AUD</a></li>
                                <li><a class="dropdown-item" href="#">EUR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-link">
                        <ul class="quick-link">
                            <li><a href="#">Help</a></li>
                            <li><a th:href="@{/register}">Join Us</a></li>
                            <li><a th:href="@{/login}">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area  -->

    <!-- Start Mainmenu Area  -->
    <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-brand">
                    <a th:href="@{/user/home}" class="logo logo-dark">
                        <img th:src="@{/user/assets/images/logo/logo.png}" alt="Site Logo">
                    </a>
                    <a th:href="@{/user/home}" class="logo logo-light">
                        <img th:src="@{/user/assets/images/logo/logo-light.png}" alt="Site Logo">
                    </a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <!--              Start home-->
                            <li>
                                <a th:href="@{/user/home}">Home</a>
                            </li>
                            <!--              End home-->

                            <!--              Start shop-->
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="axil-submenu">
                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                    <li><a href="shop.html">Shop no Sidebar</a></li>
                                </ul>
                            </li>
                            <!--              End home-->

                            <!--              Start page-->
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="axil-submenu">
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a th:href="@{/user/cart}">Cart</a></li>
                                </ul>
                            </li>
                            <!--              Start page-->

                            <!--              Start about-->
                            <li><a href="about-us.html">About</a></li>
                            <!--              Start home-->

                            <!--              Start blog-->
                            <li class="menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="axil-submenu">
                                    <li><a href="blog.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-details.html">Standard Post</a></li>
                                    <li><a href="blog-gallery.html">Gallery Post</a></li>
                                    <li><a href="blog-video.html">Video Post</a></li>
                                    <li><a href="blog-audio.html">Audio Post</a></li>
                                    <li><a href="blog-quote.html">Quote Post</a></li>
                                </ul>
                            </li>
                            <!--              Start blog-->

                            <!--              Start contact-->
                            <li><a href="contact.html">Contact</a></li>
                            <!--              Start contact-->

                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="action-list">
                        <li class="axil-search d-sm-none d-block">
                            <a
                                    href="javascript:void(0)"
                                    class="header-search-icon"
                                    title="Search"
                            >
                                <i class="flaticon-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="wishlist">
                            <a href="wishlist.html">
                                <i class="flaticon-heart"></i>
                            </a>
                        </li>
                        <li class="shopping-cart">
                            <a href="#" class="cart-dropdown-btn">
                                <span class="cart-count"
                                      th:if="${session.numberProductInCart > 0}"
                                      th:text="${session.numberProductInCart}"></span>
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <i class="flaticon-person"></i><p class="sub-title"
                                                                  th:if="${#authentication.principal != null && #authentication.principal != 'anonymousUser'}"
                                                                  th:text="${session.user.lastName}"></p>
                            </a>
                            <div class="my-account-dropdown">
                                <span class="title">QUICKLINKS</span>
                                <ul th:if="${#authentication.principal != 'anonymousUser'}">
                                    <li>
                                        <a th:href="@{/user/my-account}">My Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Initiate return</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Language</a>
                                    </li>
                                </ul>
                                <div class="login-btn">
                                    <a th:if="${#authentication.principal != 'anonymousUser'}" th:href="@{/logout}" class="axil-btn btn-bg-primary">Logout</a>
                                    <a th:if="${#authentication.principal == 'anonymousUser'}" th:href="@{/login}" class="axil-btn btn-bg-primary">Login</a>
                                </div>
                                <div class="reg-footer text-center">
                                    No account yet?
                                    <a th:href="@{/register}" class="btn-link">REGISTER HERE.</a>
                                </div>
                            </div>
                        </li>
                        <li class="axil-mobile-toggle">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area  -->

    <div class="header-top-campaign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="header-campaign-activation axil-slick-arrow arrow-both-side header-campaign-arrow">
                        <div class="slick-slide">
                            <div class="campaign-content">
                                <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="campaign-content">
                                <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>