<div class="axil-poster-countdown" th:fragment="poster">
    <div class="container">
        <div class="poster-countdown-wrap bg-lighter">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="poster-countdown-content">
                        <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary">
                      <i class="far fa-shopping-basket"></i> Don’t Miss!!</span
                    >
                            <h2 class="title">Let's Shopping Today</h2>
                        </div>
                        <div class="poster-countdown countdown mb--40"></div>
                        <a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="poster-countdown-thumbnail">
                        <img
                                th:src="@{/user/assets/images/product/poster/poster-05.png}"
                                alt="Poster Product"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
