<div class="related-blog-area bg-color-white pb--60 pb_sm--40" th:fragment="related-blog">
    <div class="container">
        <div class="section-title-wrapper mb--70 mb_sm--40 pr--110">
            <span class="title-highlighter highlighter-primary mb--10"> <i class="fal fa-bell"></i>Hot News</span>
            <h3 class="mb--25">Related Blog</h3>
        </div>
        <div class="related-blog-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
            <div class="slick-single-layout">
                <div class="content-blog">
                    <div class="inner">
                        <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                            <!-- Start Single Thumb  -->
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-07.png" alt="Blog Images">
                                </a>
                            </div>
                            <!-- End Single Thumb  -->
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="blog-details.html">With an Irreverent Twist, AMBUSH® Highlights Converse's Outdoor Heritage</a></h5>
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="assets/images/blog/author-image-1.png" alt="Author Images">
                                </div>
                                <div class="post-meta-content">
                                    <h6 class="author-title">
                                        <a href="#">Leslie Alexander</a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>Feb 17, 2019</li>
                                        <li>300k Views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="content-blog">
                    <div class="inner">
                        <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                            <!-- Start Single Thumb  -->
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-08.png" alt="Blog Images">
                                </a>
                            </div>
                            <!-- End Single Thumb  -->
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="blog-details.html">UCLA Athletics Reaches Multi-Year
                                Agreement with NIKE, Inc. and Jordan Brand</a></h5>
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="assets/images/blog/author-image-2.png" alt="Author Images">
                                </div>
                                <div class="post-meta-content">
                                    <h6 class="author-title">
                                        <a href="#">Julian Vinn</a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>Mar 28, 2020</li>
                                        <li>200k Views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="content-blog">
                    <div class="inner">
                        <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                            <!-- Start Single Thumb  -->
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-09.png" alt="Blog Images">
                                </a>
                            </div>
                            <!-- End Single Thumb  -->
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="blog-details.html">An oral history of the AIM away
                                message by the people who were there</a></h5>
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="assets/images/blog/author-image-3.png" alt="Author Images">
                                </div>
                                <div class="post-meta-content">
                                    <h6 class="author-title">
                                        <a href="#">Ariana Grande</a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>Apr 20, 2021</li>
                                        <li>500k Views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="content-blog">
                    <div class="inner">
                        <div class="axil-gallery-activation axil-slick-arrow arrow-between-side">
                            <!-- Start Single Thumb  -->
                            <div class="thumbnail">
                                <a href="blog-details.html">
                                    <img src="assets/images/blog/blog-08.png" alt="Blog Images">
                                </a>
                            </div>
                            <!-- End Single Thumb  -->
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="blog-details.html">UCLA Athletics Reaches Multi-Year
                                Agreement with NIKE, Inc. and Jordan Brand</a></h5>
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="assets/images/blog/author-image-2.png" alt="Author Images">
                                </div>
                                <div class="post-meta-content">
                                    <h6 class="author-title">
                                        <a href="#">Julian Vinn</a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>Mar 28, 2020</li>
                                        <li>200k Views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .slick-single-layout -->
        </div>
    </div>
</div>
