<div th:fragment="script">
    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script th:src="@{/user/assets/js/vendor/modernizr.min.js}"></script>
    <!-- jQuery JS -->
    <script th:src="@{/user/assets/js/vendor/jquery.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{/user/assets/js/vendor/popper.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/slick.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/js.cookie.js}"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script th:src="@{/user/assets/js/vendor/jquery-ui.min.js}"></script>
    <script
            th:src="@{/user/assets/js/vendor/jquery.ui.touch-punch.min.js}"
    ></script>
    <script
            th:src="@{/user/assets/js/vendor/jquery.countdown.min.js}"
    ></script>
    <script th:src="@{/user/assets/js/vendor/sal.js}"></script>
    <script
            th:src="@{/user/assets/js/vendor/jquery.magnific-popup.min.js}"
    ></script>
    <script
            th:src="@{/user/assets/js/vendor/imagesloaded.pkgd.min.js}"
    ></script>
    <script th:src="@{/user/assets/js/vendor/isotope.pkgd.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/counterup.js}"></script>
    <script th:src="@{/user/assets/js/vendor/waypoints.min.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/user/assets/js/main.js}"></script>
</div>