<div class="service-area" th:fragment="service-area">
    <div class="container">
        <div
                class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20"
        >
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service1.png}" alt="Service" />
                    </div>
                    <h6 class="title">Fast &amp; Secure Delivery</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service2.png}" alt="Service" />
                    </div>
                    <h6 class="title">100% Guarantee On Product</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service3.png}" alt="Service" />
                    </div>
                    <h6 class="title">24 Hour Return Policy</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service4.png}" alt="Service" />
                    </div>
                    <h6 class="title">24 Hour Return Policy</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service5.png}" alt="Service" />
                    </div>
                    <h6 class="title">Next Level Pro Quality</h6>
                </div>
            </div>
        </div>
    </div>
</div>
