<aside class="axil-sidebar-area" th:fragment="sidebar">

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40">
        <h6 class="widget-title">Latest Posts</h6>

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view mb--20">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img th:src="@{/user/assets/images/blog/blog-04.png}" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">Dubai’s FRAME Offers its Take on the</a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>Mar 27, 2022</li>
                            <li>300k Views</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view mb--20">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img th:src="@{/user/assets/images/blog/blog-05.png}" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">Apple presents App Best of 2020 winners</a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>Mar 20, 2022</li>
                            <li>300k Views</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img th:src="@{/user/assets/images/blog/blog-06.png}" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">Gallaudet University innovation in education</a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>Mar 15, 2022</li>
                            <li>300k Views</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40">
        <h6 class="widget-title">Recent Viewed Products</h6>
        <ul class="product_list_widget recent-viewed-product">
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img th:src="@{/user/assets/images/product/product-12.jpg}" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">Men's Fashion Tshirt</a></h6>
                    <div class="product-meta-content">
                                                    <span class="woocommerce-Price-amount amount">
                            <del>$30</del>
                            $20
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img th:src="@{/user/assets/images/product/product-10.jpg}" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">Nike Shoes</a></h6>
                    <div class="product-meta-content">
                                                    <span class="woocommerce-Price-amount amount">
                            <del>$200</del>
                            $150
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img th:src="@{/user/assets/images/product/product-11.jpg}" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">Addidas Shoes</a></h6>
                    <div class="product-meta-content">
                                                    <span class="woocommerce-Price-amount amount">
                            <del>$300</del>
                            $200
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
        </ul>

    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_search">
        <h6 class="widget-title">Search</h6>
        <form class="blog-search" action="#">
            <button class="search-button"><i class="fal fa-search"></i></button>
            <input type="text" placeholder="Search">
        </form>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_archive">
        <h6 class="widget-title">Archives List</h6>
        <ul>
            <li><a href="#">January 2020</a></li>
            <li><a href="#">February 2020</a></li>
            <li><a href="#">March 2020</a></li>
            <li><a href="#">April 2020</a></li>
        </ul>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_archive_dropdown">
        <h6 class="widget-title">Archives Dropdown</h6>
        <select>
            <option>Select Month</option>
            <option>April 2020 (4)</option>
            <option>May 2020 (4)</option>
            <option>June 2020 (4)</option>
            <option>July 2020 (4)</option>
        </select>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_tag_cloud">
        <h6 class="widget-title">Tags</h6>
        <div class="tagcloud">
            <a href="#">Design</a>
            <a href="#">HTML</a>
            <a href="#">Graphic</a>
            <a href="#">Development</a>
            <a href="#">UI/UX Design</a>
            <a href="#">eCommerce</a>
            <a href="#">CSS</a>
            <a href="#">JS</a>
        </div>
    </div>
    <!-- End Single Widget  -->

</aside>
