<div class="axil-main-slider-area main-slider-style-2" th:fragment="slidebar">
    <div class="container">
        <div class="slider-offset-left">
            <div class="row row--20">
                <div class="col-lg-9">
                    <div class="slider-box-wrap">
                        <div class="slider-activation-one axil-slick-dots">
                            <div class="single-slide slick-slide">
                                <div class="main-slider-content">
                        <span class="subtitle"
                        ><i class="fal fa-watch"></i> Smartwatch</span
                        >
                                    <h1 class="title">Bloosom Smat Watch</h1>
                                    <div class="shop-btn">
                                        <a href="shop.html" class="axil-btn"
                                        >Shop Now <i class="fal fa-long-arrow-right"></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="main-slider-thumb">
                                    <img
                                            th:src="@{/user/assets/images/product/product-40.png}"
                                            alt="Product"
                                    />
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <div class="main-slider-content">
                        <span class="subtitle"
                        ><i class="fal fa-watch"></i> Smartwatch</span
                        >
                                    <h1 class="title">Delux Brand Watch</h1>
                                    <div class="shop-btn">
                                        <a href="shop.html" class="axil-btn"
                                        >Shop Now <i class="fal fa-long-arrow-right"></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="main-slider-thumb">
                                    <img
                                            th:src="@{/user/assets/images/product/product-46.png}"
                                            alt="Product"
                                    />
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <div class="main-slider-content">
                        <span class="subtitle"
                        ><i class="fal fa-watch"></i> Smartwatch</span
                        >
                                    <h1 class="title">Bloosom Smat Watch</h1>
                                    <div class="shop-btn">
                                        <a href="shop.html" class="axil-btn"
                                        >Shop Now <i class="fal fa-long-arrow-right"></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="main-slider-thumb">
                                    <img
                                            th:src="@{/user/assets/images/product/product-40.png}"
                                            alt="Product"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="slider-product-box">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img
                                        th:src="@{/user/assets/images/product/product-41.png}"
                                        alt="Product"
                                />
                            </a>
                        </div>
                        <h6 class="title">
                            <a href="single-product.html">Yantiti Leather Bags</a>
                        </h6>
                        <span class="price">$29.99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
