<div th:fragment="head">
    <meta charset="UTF-8">

    <link
            rel="stylesheet"
            th:href="@{/templates/shipper_demo/mymodel.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/templates/shipper_demo/main.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/templates/shipper_demo/products.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/templates/shipper_demo/styles.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/templates/shipper_demo/util.css}"
    />

</div>